<div class="html-con">{% if heading_title %}
  <h2>{{ heading_title }}</h2>
  {% endif %}
  {{ html }}</div>

{# <script type="text/javascript">    
(function($){
$('#testi').slick({
   slidesToShow: 3,
   dots: true,
   centerMode: true,
   centerPadding: '0px',
   arrows:false,
   focusOnSelect: true,
   responsive: [
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 3,
        infinite: true,
      }
    },
    {
      breakpoint: 992,
      settings: {
        slidesToShow: 3,
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 576,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 500,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 361,
      settings: {
        slidesToShow: 1,
      }
    }
  ]
 });
    }(jQuery));
</script> #}